.sidenav-container {
    height: 100%;
    background-color: #ffffff;
  }
  
  .side-nav {
    width: 200px;
    background-color: #fdfbff;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  }
  
  .main-content {
    padding: 20px;
    background-color: #ffffff;
  }
  